<style type="text/css">
            div#global{
                /*设置宽度，设置百分比可以根据浏览器自适应宽度*/
                width: 100%;
            }
            /*定义头部布局，前面的div可以不用写，#号前面默认有个id，凡事定义了id的标签，都可以用#号来表示*/
            #heading{
                width: 100%;
                height: 100px;
            }
            #content_body{
                width: 100%;
                float: right;
            }
            #image1{
            	width: 100%;
            	float: left;
            }
            #image2{
            	width: 100%;
            	float: right;
            }
            #floor{
                /*删除浮动，不然会被其他的浮动给遮住*/
                clear: both;
                height: 100px;
            }
        </style>